.project-card {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 1px 1px 5px grey;
}

.card-palette {
  display: flex;
}

.palette-color-div {
  width: 30px;
  height: 30px;
  margin: 3px;
}

.delete-project {
  position: relative;
  top: -40px;
  right: -340px;
  height: 20px;
  width: 20px;
  background: url('./images/trash.png');
  background-size: cover;
  border: none;
  cursor: pointer;

  &:hover {
    background: url('./images/trash-hover.png');
    background-size: cover;
  }
}