*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.standard-button {
  padding: 8px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 8px grey;

  &:hover:enabled {
    background-color: pink;
    box-shadow: none;
  }
}

input {
  padding: 8px;
  font-size: 14px;
  margin: 0 10px;
  width: 200px;
}

select {
  padding: 8px;
  font-size: 14px;
  width: 142px;
  background-color: white;
}

img {
  width: 25px;
}

button,
input,
select {
  &:focus {
    outline: none;
  }
}