#title {
  width: 300px;
  display: block;
  font-size: 60px;
  font-weight: 800;
  color: black;
  text-decoration: none;
  margin: 20px auto;
  font-size: 45px;
}

.search-bar {
  position: absolute;
  top: 20px;
  right: 30px;
}